.formContainer {
    background-color: #ececec;
    border-radius: 8px;
    min-width: 300px;
    width: 60%;
    max-width: 500px;
    padding:40px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}